<% include partials/header %>

<body>
  <div id="app"></div>
  <div id="abar">
    <a href="https://github.com/pbfrias17/SocketBeeGees" target="_blank">Check out the code for this app</a>
  </div>
  <script>
    window.user = '<%- JSON.stringify(user) %>';
  </script>
</body>

<% include partials/homeImporter %>
<% include partials/footer %>